.idea/*
semanticanalyser/__pycache__/__init__.cpython-313.pyc
semanticanalyser/__pycache__/analyser.cpython-313.pyc
test.py
test.py
test.py
semanticanalyser/analyser.py
semanticanalyser/analyser.py
/dist/
/semanticanalyser_py.egg-info/
/.project
/.pydevproject
/venv/
